/* You can add global styles to this file, and also import other style files */
body{
    text-align: center;
    background: #000;
    color: #fff;
}

a{
    color: yellow;
    text-decoration: none;
    border-radius: 5px;
}

a:hover{
    background-color: white;
    color: #000;
}

button{
    font-size: 15px;
    border-radius: 5px;
}

button:hover{
    background-color: aqua;
    
}