<!-- <p>donation-view-blood-groups works!</p> -->

<div class="donation-view-blood-groups-container">
    <table>
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Type
                </td>
                <td>
                    Name
                </td>
                <td>
                    Gender
                </td>
                <td>
                    Age
                </td>
                <td>
                    Contacts
                </td>
                <td>
                    Email
                </td>
                <td>
                    Address
                    <tr>
                        <td>
                            Country
                        </td>
                        <td>
                            State
                        </td>
                        <td>
                            City
                        </td>
                        <td>
                            Pincode
                        </td>
                    </tr>
                </td>
                <td>
                    Blood Group
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let donor of donors">
                <td>
                    {{donor._id}}
                </td>
                <td>
                    {{donor.type}}
                </td>
                <td>
                    {{donor.name}}
                </td>
                <td>
                    {{donor.gender}}
                </td>
                <td>
                    {{donor.age}}
                </td>
                <td>
                    {{donor.contacts}}
                </td>
                <td>
                    {{donor.email}}
                </td>
                <td>
                    <tr>
                        <td>
                            {{donor.address.country}}
                        </td>
                        <td>
                            {{donor.address.state}}
                        </td>
                        <td>
                            {{donor.address.city}}
                        </td>
                        <td>
                            {{donor.address.pincode}}
                        </td>
                    </tr>
                </td>
                <td>
                    {{donor.blood_group}}
                </td>
            </tr>
        </tbody>
    </table>
</div>